<h5>Welcome, <%= current_user.email %> </h5>

<blockquote>
  <%= @quote.text %> - <%= @quote.author if @quote.author != "na" %>
</blockquote>

<%= link_to 'Add habit', new_habit_path, class: 'btn' %>

<div id="due_today">
  <h5>Due Today</h5>
  <ul>
    <%= render partial: "habit", collection: @habits_for_today %>
  </ul>
</div>

<div id="due_later">
  <h5>Due Later</h5>
  <ul>
    <%= render partial: "habit", collection: @habits_for_later %>
  </ul>
</div>


