<h1>Welcome, <%= current_user.email %> </h1>

<h2><%= @quote.text %></h2>

<%= link_to 'Add habit', new_habit_path, class: 'button tiny success' %>

<ul>
  <%- @habits.each do |habit| %>
      <li id="habit_<%= habit.id %>">
        <%= habit.name %>
        <%- unless habit.completed_today? %>
          <%= button_to 'Crushed it!',
            habit_daily_habits_path(habit),
            class: "button tiny" %>
        <%- end %>
      </li>
  <%- end %>
</ul>

