<!DOCTYPE html>
<html>
<head>
  <title>Habitsu</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render "layouts/nav" %>
  </header>

  <%= render "layouts/flash" %>

  <main role="main" class="container">
    <%= yield %>
  </main>

  <footer>
  </footer>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
